Feed URL redirect is not parsed properly

Relative HTTP 301 redirect is used here:
http://www.sciencefriday.com/audio/scifriaudio.xml
You can see it with curl:
```
< HTTP/1.1 301 Moved Permanently
< Location: /feed/podcast/podcast-episode
```

This should make the feed URL get rewritten to ```http://www.sciencefriday.com/feed/podcast-episode```. Instead, it becomes just ```/feed/podcast/podcast-episode``` -- which is not a valid URL and feed errors out from then on

P.S. version: 1.4.1.3 commit 397a6fd


Thank you for reporting this. We'll look in to it. In the meantime I've halted the staged rollout to try to limit any problems.

Actually, the joke is on them: "The field value consists of a single absolute URI" [http://tools.ietf.org/html/rfc2616#section-14.30] 
(Yes, I learned that just now. Saved by the RFC ^^)

Doesn't really make any sense to me why anyone would ever sent a relative location back. That's just lazy, error-prone and increases the work we have to put in.
Doesn't mean it should not be fixed.

https://tools.ietf.org/html/rfc7231
Obsoletes: 2616
https://tools.ietf.org/html/rfc7231#section-7.1.2
```When it has the
   form of a relative reference ([RFC3986], Section 4.2), the final
   value is computed by resolving it against the effective request URI
   ([RFC3986], Section 5).```

Alright then.
Still not very smart - if it is in place (suggested) since June 2014, there could be a lot of old scripts and browsers out there that still only understand absolute URIs.